* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 70vh;
    display: flex;
}

#vic-Banner,
#def-Banner {
    position: absolute;
    top: 20vh;
    background-color: grey;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#vic-Banner {
    display: none;
}

#def-Banner {
    display: none;
}

#def-restart,
#vic-restart {
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(207, 239, 250);
    border-radius: 5px;
}

.banner-content {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

img {
    width: 20vw;

}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.words {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    background-image: url(./images/Hangman.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
}

.gameButtons {
    height: 15vh;
    width: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    left: 2vw;
    top: 5vh;
}

#restart {
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(207, 239, 250);
    border-radius: 5px;
}

#exit {
    font-size: 1.8rem;
    text-decoration: none;
    border: 1px solid #000;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 121, 121);
    text-align: center;
}

.board-container {
    width: 100%;
    background-color: lightcyan;
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.board {
    width: 5%;
    height: 90%;
    border-bottom: 3px solid #000;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.score {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* 
#x1 {
    background-color: white;
}

#x2 {
    background-color: white;
}

#x3 {
    background-color: white;
}

#x4 {
    background-color: white;
}

#x5 {
    background-color: white;
}

#x6 {
    background-color: white;
}

.marker {
    width: 30%;
    height: 10%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
} */

.bottom-container {
    width: 100vw;
    height: 30vh;
}

.input-container {
    margin: 0 auto;
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.letters-inpt,
.fullwrd-input {
    display: flex;
    flex-direction: column;
}

.bank-container {
    width: 100%;
    height: 70%;
    padding: 5px;
}

#bank {
    height: 100%;
    width: 60%;
    background-color: rgb(210, 236, 245);
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}